fastapi
uvicorn
websockets

langchain
langgraph
langchain-groq

groq

faster-whisper

faiss-cpu
sentence-transformers

pydantic
python-dotenv

sqlalchemy

apscheduler

numpy
pandas

redis

aiofiles

edge-tts
soundfile
pydub